---
import "../styles/global.css";
import { getCollection } from "astro:content";

const articulos = await getCollection("articulos");

const destacado = articulos[0];
const recientes = articulos.slice(1,5);
---

<html lang="es">

<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">

<title>Punto y Coma</title>

</head>

<body>

<header class="header">

<img src="/logo.png" class="logo" alt="Punto y coma"/>

<h1>Punto y coma</h1>

<p class="tagline">
El mundo no es complicado. Solo está mal explicado.
</p>

</header>


<main class="container">

<section class="destacado">

<h2>Historia principal</h2>

<article class={`hero ${destacado.data.categoria}`}>

<h3>
<a href={`/articulos/${destacado.slug}`}>
{destacado.data.title}
</a>
</h3>

<p>{destacado.data.descripcion}</p>

</article>

</section>


<section class="recientes">

<h2>Artículos recientes</h2>

{recientes.map((articulo) => (

<article class={`article ${articulo.data.categoria}`}>

<h3>
<a href={`/articulos/${articulo.slug}`}>
{articulo.data.title}
</a>
</h3>

<p>{articulo.data.descripcion}</p>

</article>

))}

</section>

</main>


<footer class="footer">

<p>
Punto y coma — Explicando el mundo, una historia a la vez.
</p>

</footer>

</body>

</html>