---
import Header from "../components/Header.astro";
import "../styles/global.css";
import { getCollection } from "astro:content";
import { categorias } from "../config/categorias.js";

const articulos = await getCollection("articulos");

// ordenar por fecha
const ordenados = articulos.sort(
  (a, b) => new Date(b.data.fecha) - new Date(a.data.fecha)
);

// principal
const principal = ordenados[0];

// secundarios
const secundarios = ordenados.slice(1,3);

// resto
const recientes = ordenados.slice(1);

// normalizar categoría del hero
const heroCategoria = principal?.data?.categoria?.trim().toLowerCase();
---

<html lang="es">

<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">

<title>Punto y Coma</title>

</head>

<body>

<div class="container">

<Header />

<section class="portada">

<article class={`hero ${heroCategoria}`}>

{principal.data.cover && (
<img src={principal.data.cover} class="hero-img" />
)}

<div class="hero-info">

<span class="hero-cat">
<span class="cat-line"></span>
{categorias[heroCategoria] || principal.data.categoria}
</span>

<h2 class="hero-title">
<a href={`/articulos/${principal.slug}`}>
{principal.data.title}
</a>
</h2>

<p class="hero-desc">
{principal.data.descripcion}
</p>

</div>

</article>

<div class="secundarios">

{secundarios.map((articulo) => (

<a class={`sec-card ${articulo.data.categoria}`} href={`/articulos/${articulo.slug}`}>

{articulo.data.cover && (
<img src={articulo.data.cover} />
)}

<div class="sec-info">

<span class="card-cat">
<span class="cat-line"></span>
{categorias[articulo.data.categoria] || articulo.data.categoria}
</span>

<h3>
{articulo.data.title}
</h3>

</div>

</a>

))}

</div>

</section>

<section class="recent">

<h2>Artículos recientes</h2>

<div class="cards">

{recientes.map((articulo) => (

<a class={`card ${articulo.data.categoria}`} href={`/articulos/${articulo.slug}`}>

{articulo.data.cover && (
<img src={articulo.data.cover} />
)}

<span class="card-cat">
<span class="cat-line"></span>
{categorias[articulo.data.categoria] || articulo.data.categoria}
</span>

<h3>
{articulo.data.title}
</h3>

</a>

))}

</div>

</section>

<footer class="footer">

Punto y coma — Explicando el mundo, una historia a la vez.

</footer>

</div>

</body>

</html>