---
import "../styles/global.css";
import { getCollection } from "astro:content";

const articulos = await getCollection("articulos");

// ordenar por fecha
const ordenados = articulos.sort(
  (a, b) => new Date(b.data.fecha) - new Date(a.data.fecha)
);

// primer artículo = principal
const principal = ordenados[0];

// resto
const recientes = ordenados.slice(1);
---

<html lang="es">

<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">

<title>Punto y Coma</title>

</head>

<body>

<div class="container">

<header class="header">

<img src="/logo.png" class="logo" alt="Punto y coma"/>

<h1>Punto y Coma</h1>

<p class="tagline">
La noticia no termina cuando se informa; empieza cuando se entiende.
</p>

</header>

<section class="hero">

<article class="hero">

{principal.data.cover && (
  <img src={principal.data.cover} class="hero-img" />
)}

<div class="hero-info">

<span class="hero-cat">
{principal.data.categoria}
</span>

<h2 class="hero-title">

<a href={`/articulos/${principal.slug}`}>
{principal.data.title}
</a>

</h2>

<p class="hero-desc">
{principal.data.descripcion}
</p>

</div>

</article>

</section>

<section>

<h2>Artículos recientes</h2>

{recientes.map((articulo) => (

<article class={`article ${articulo.data.categoria}`}>

<h3>

<a href={`/articulos/${articulo.slug}`}>
{articulo.data.title}
</a>

</h3>

<p>{articulo.data.descripcion}</p>

</article>

))}

</section>

<footer class="footer">

Punto y coma — Explicando el mundo, una historia a la vez.

</footer>

</div>

</body>

</html>